/*   header   */

.html {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    color: black;
    font-weight: 500;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    width: 10px;
    background-color: #f9f9fd;
}
body::-webkit-scrollbar-thumb{
    background-color: #0d1420;
}
body::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    background-color: #a7a7c4;
}

.header-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background: #0d1420;
    padding: 10px 0;
}

.header-page__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-page__start{
    padding-left: 163px;
}
.header-page__end {
    display: flex;
    align-items: center;
    padding-right: 156px;
}
.header-page__nav {
    margin-right: 10px;
}

.header-page__ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.header-page__link {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 35px;
    font-weight: 900;
    font-size: 18px;
    position: relative;
    transition: color;
    font-family: 'Quicksand', sans-serif;
}
.header-page__link:hover {
    color: #1f1f1f;
    background: #fff;
}
.header-page__link:active {
    opacity: 0.8;
}
.header-page_li{
    padding: 15px 35px;
}

/**/
.instr ol{
    color: grey;
    padding-left:180px;
}
.para p{
    text-align: center;
    font-size:30px;
    color:aqua;
}
.par p{
    font-size: 20px;
    padding-left: 10px;
    color:grey;
}

.main_page{
    margin-right: 100px;
    padding-bottom: 40px;
}
.main_page hr{
    width: 1524px;
}

.main_page img{
    padding-left: 200px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
}
.malkin ol{
    padding-left:180px;
    color:grey;
}
.ovi li{
    padding-left:180px;
    color:grey;
}
.batyr{
    padding-left:180px;
    color:grey;
}
.kovi ul{
    padding-left:180px;
    color:grey;
}

/*   footer   */

.footer-section {
    background: #0d1420;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_text {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    margin-left: 150px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}
.logo_img {
    margin-left: 150px;
    padding-top: 80px;
    padding-bottom: 40px;
}
.footer_rights {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    margin-left: 150px;
    margin-bottom: 50px;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
    margin-right: 30px;
    margin-top: 50px;
    margin-left: 200px;
    text-align: left;
}
.footer_link {
    margin-left: 250px;
}
.footer-col h4{
    font-size: 22px;
    color: #ffffff;
    text-transform: capitalize;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 500;
    position: relative;
    font-family: 'Quicksand', sans-serif;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 299;
    color: white;
    display: block;
    transition: all 0.3s ease;
    font-family: 'Quicksand', sans-serif;
    line-height: 30px;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}
.phone {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}
.footer_links {
    list-style-type: none;
}

.right_hand_side{
    text-align: left;
    margin-right: 250px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}
.contact {
    font-size: 22px; 
}
.phone:hover {
    color: #6251b1;
}